<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>

<div class="container jumbotron jumbotron-fluid">
    <h1>SEARCH RESULTS</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Song name</th>
            <th scope="col">Artist</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song: ${songs}">
            <th scope="row" th:text="${song.getSongName()}"></th>
            <td th:text="${song.getArtistName()}"></td>
            <td th:text="${song.getGenre()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>